<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1087868402083-v83kvptfb6b0a57r7283hvghcn3u40jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087868402083-v83kvptfb6b0a57r7283hvghcn3u40jc</string>
	<key>API_KEY</key>
	<string>AIzaSyBZi-1X8wcCuy1lIlcOM3AxlaGIp9Ca2x0</string>
	<key>GCM_SENDER_ID</key>
	<string>1087868402083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LinkingTalent</string>
	<key>PROJECT_ID</key>
	<string>linking-talent-6b6cb</string>
	<key>STORAGE_BUCKET</key>
	<string>linking-talent-6b6cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087868402083:ios:0e9e28e13367dd1b</string>
	<key>DATABASE_URL</key>
	<string>https://linking-talent-6b6cb.firebaseio.com</string>
</dict>
</plist>